.btn {
  text-decoration: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  color: $mainGrey;
  font-weight: 600;
  padding: 0.625rem;
  border: 1px solid #333;
  /* border-top-left-radius: 40%; */
  box-shadow: 5px 5px 15px 1px #333;

  &__sign-up {
    @mixin atSmall {
      position: relative;
      left: 5rem;
      top: 1rem;
    }
    @mixin atMedium {
      top: -6.3rem;
    }

    @mixin atLarge {
      top: 1.5rem;
    }
  }
  &__login {
    position: relative;
    top: -0.3rem;
    /* left: 4rem; */

    @mixin atSmall {
      top: -0.5rem;
      left: 1rem;
    }

    @mixin atMedium {
      top: -0.5rem;
      left: 3.5rem;
    }

    @mixin atLargeMedium {
      /* top: 1rem; */
    }

    @mixin atLarge {
      top: -0.3rem;
      left: 4rem;
    }
  }
  &__learn-more {
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    &:hover {
      color: #fff;
      font-weight: 700;
      text-decoration: underline;
    }

    &--light {
      color: rgba(255, 255, 255, 0.596);
      font-weight: 500;
    }

    &--dark {
      color: rgba(51, 51, 51, 0.596) !important;
      font-weight: 400;
    }
  }

  &--with-photo {
    @mixin atSmall {
      top: -0.5rem;
      left: 1.9rem;
    }

    @mixin atMedium {
      top: -0.5rem;
      left: 7rem;
    }

    @mixin atLargeMedium {
      /* top: 1rem; */
    }

    @mixin atLarge {
      top: -4px;
      left: 85px;
    }
  }
}

.site-header__avatar img {
  width: 42px;
  height: 40px;
  position: relative;
  top: 0.9rem;
  left: -1rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  @mixin atMedium {
    /* display: none; */
  }

  @mixin atLarge {
    display: inline-block;
  }
}

.exhibition-page--expo__description .btn--post {
  border-radius: 5px;
  padding: 10px;
  width: fit-content;
  height: fit-content;
  background-color: #333;
  margin-left: 20px;
  margin-top: 3rem;
  & a {
    text-decoration: none;
    color: #fff;
  }
}

.btn:hover {
  background-color: rgba(167, 90, 17, 0.6);
  color: #fff;
}

.btn:active {
  background-color: rgb(255, 164, 28);
  color: #fff;
}

.js-search-trigger {
  border: none;
}
