.site-header {
  padding: 10px 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  margin-top: 10px;

  @mixin atSmall {
    /* background-color: blue; */
  }

  @mixin atMedium {
    background-color: rgba(#333, 0.3);
  }
  &__btn-container {
    float: right;

    @mixin atMedium {
      display: none;
    }

    @mixin atLarge {
      display: block;
    }

    @mixin atLarge {
      margin: 10px 30px 0 20px;
    }
  }
  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    padding: 13px 29px;

    @mixin atMedium {
      left: auto;
      transform: translateX(0);
      padding: 25px 36px;
    }
  }

  &__menu-icon {
    width: 50px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;

    @mixin atMedium {
      /* display: none; */
    }

    @mixin atLarge {
      display: none;
    }
  }

  &__menu-content {
    display: block;

    @mixin atMedium {
      display: block;
    }
  }
}

.logo {
  &--positioned-left {
    width: fit-content;
    height: fit-content;
    color: #333;
    font-size: 2rem;
    font-weight: 900;
    position: relative;
    left: -27rem;
    top: 0.3rem;
    display: inline-block;

    @mixin atSmall {
      left: -2.7rem;
      top: 0.2rem;
    }

    @mixin atMedium {
      top: 2.6rem;
      left: -3rem;
    }
    @mixin atLarge {
      left: -10rem;
      top: 0.3rem;
    }
  }
  &--is-not-visible {
    visibility: hidden;
  }
}

.navBar--positioned-right {
  position: relative;
  top: -3.1rem;

  @mixin atSmall {
    display: none;
  }

  @mixin atMedium {
    display: none;
  }

  @mixin atLarge {
    display: block;
  }
}
