.modal {
  opacity: 0;
  visibility: hidden;
  transform: scale(1.2);
  transition: all 0.3s ease-out;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.94);
  z-index: 5;
  display: flex;

  &--is-visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &__inner {
    flex: 1;
    margin: auto;
  }

  &__title {
    font-size: 2.5rem;
    margin-left: 44.5rem;
  }

  &__description {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.65;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    transform: scaleX(1.2);
    transform-origin: 100% 0;
    cursor: pointer;
    font-size: 2rem;

    &:hover {
      color: $mainOrange;
    }
  }

  &__social-icons {
    position: absolute;
    top: 42rem;
    left: 32.5%;
  }
}

/* Search Modal */
.search-overlay {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 110;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.96);
  visibility: hidden;
  opacity: 0;
  transform: scale(1.09);
  transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
  box-sizing: border-box;

  p {
    padding-top: 15px;
  }

  .event-summary p {
    padding-top: 0;
  }

  .event-summary {
    margin-bottom: 0;
    margin-top: 20px;
  }

  body.admin-bar & {
    top: 32px;
  }

  &__top {
    background-color: rgba(0, 0, 0, 0.12);
  }

  &__icon {
    margin-right: 10px;
    font-size: 1.8rem;
    color: rgba(173, 91, 24, 0.897);
    @mixin atMedium {
      font-size: 2.5rem;
    }
  }

  &--active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }

  &__section-title {
    margin: 30px 0 1px 0;
    font-weight: 400;
    color: rgb(6, 17, 114);
    font-size: 2rem;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
  }

  &__close {
    position: absolute;
    top: 13px;
    right: 16px;
    font-size: 2.1rem;
    cursor: pointer;
    transition: all 0.3s;
    background-color: #fff;
    color: rgba(173, 91, 24, 0.897);
    line-height: 0.7;
    @mixin atSmall {
      top: 18px;
      font-size: 2.1rem;
    }
    @mixin atMedium {
      top: 26px;
      font-size: 2.8rem;
    }
  }

  &__close:hover {
    opacity: 1;
  }

  .one-half {
    padding-bottom: 0;
  }
}

.search-term {
  width: 75%;
  box-sizing: border-box;
  border: none;
  padding: 15px 0;
  margin: 0;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 300;
  outline: none;
  color: rgba(173, 91, 24, 0.897);
  @mixin atSmall {
    font-size: 1.5rem;
  }
  @mixin atMedium {
    width: 80%;
    font-size: 3rem;
  }
}

.body-no-scroll {
  overflow: hidden;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinner-loader {
  margin-top: 45px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid rgba(0, 0, 0, 0.2);
  border-top-color: black;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
