.news-and-blog {
  position: absolute;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.5) 25%,
      rgba(255, 255, 255, 0.3) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(https://images.unsplash.com/photo-1583306346437-f2143c0f11fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80);
  /* width: 96.5vw; */
  height: fit-content;
  padding-bottom: 30px;

  @mixin atSmall {
    top: 53rem;
    width: 100%;
    padding: 0;
  }
  @mixin atMedium {
    width: 100%;
    left: 0;
    top: 48rem;
  }

  @mixin atLarge {
    top: 50rem;
    width: 100%;
  }
}

.page-section {
  padding: 1rem 0;
  text-align: center;
  position: relative;
  top: -5px;

  @mixin atSmall {
    width: 100vw;
  }

  @mixin atLarge {
    position: relative;
    top: 2rem;
    border: 1px solid #333;
    /* box-shadow: 5px 5px 15px 1px #333; */
  }

  &__card {
    border-top: 1px solid #fff;
    margin: 0 auto;
    padding: 1rem;
    overflow: hidden;

    @mixin atSmall {
      height: 29rem;
      width: 80%;
    }

    @mixin atMedium {
      height: 32rem;
    }

    @mixin atLarge {
      height: 15rem;
      width: 90%;
    }
    /* border-bottom: 1px solid #fff; */
  }

  &__title {
    /* text-align: center; */
    text-transform: uppercase;
    color: #fff;

    @mixin atSmall {
      font-weight: 300;
      font-size: 1rem;
    }

    @mixin atMedium {
      font-size: 2.5rem;
      font-weight: 600;
    }

    @mixin atLarge {
      font-size: 4rem;
      font-weight: 600;
    }
  }

  &__news {
    background-color: #31394593;

    @mixin atSmall {
      width: 5rem;
      margin: 0;
    }

    @mixin atLarge {
      width: 5rem;
      margin: 5.2rem;
      margin-top: 4rem;
    }
  }

  &__news-title {
    text-align: center;
    float: left;
    position: relative;
    left: 0;
    top: 0;
    margin: 0 auto 1rem auto;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;
    /* opacity: 0; */
    @mixin atSmall {
      font-size: 1.2rem;
      top: 1rem;
    }

    @mixin atMedium {
      font-size: 2rem;
      margin-top: 1.5rem;
    }
    @mixin atLarge {
      font-size: 2rem;
      margin-top: 0;
    }
  }

  &__section-text {
    color: #fff;
    position: relative;
    float: left;
    height: 3rem;
    text-align: justify;
    line-height: 1.5rem;

    @mixin atSmall {
      top: 17rem;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.3rem;
      width: 97%;
    }

    @mixin atMedium {
      margin-top: 1.5rem;
      top: 4rem;
      left: 31vw;
      width: 55%;
      font-size: 1.3rem;
    }

    @mixin atLarge {
      top: 0;
      left: 23vw;
      margin-top: 2rem;
      margin-left: -3rem;
      font-size: 1.2vw;
      width: 22vw;
    }
  }

  &__expo-picture {
    position: relative;
    top: 0;

    @mixin atSmall {
      left: 0rem;
      margin-top: 15px;
      height: fit-content;
      width: fit-content;
      top: -6rem;
      /* width: 10rem; */
    }

    @mixin atMedium {
      top: -6rem;
      height: 20rem;
      border: none;
    }

    @mixin atLarge {
      top: 0;
      margin-top: 0;
      left: 0;
      height: 10rem;
    }
  }

  &__expo-picture img {
    @mixin atSmall {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 39vw;
      height: 29vh;
      border: 1px solid #fff;
      top: 3rem;
      left: 27vw;
      position: relative;
    }
    @mixin atMedium {
      /* position: absolute; */
      left: 4vw;
      height: 27vh;
      width: 21vw;
      float: left;
      margin-top: 0rem;
    }

    @mixin atLarge {
      height: 10rem;
      width: 13rem;
      top: -5rem;
      left: 1rem;
    }
  }
  /*  KADA NAPRAVIM JS ONDA NAPRAVITI DA KAD SEGMENT UDJE U EKRAN POJAVI SE I DODJE NA SVOJE MESTO. OVO JE TRANSITION DA SE POJAVI
  &__news-title:hover {
    opacity: 1;
    transition: all 1s;
  }
  &__news-text:hover {
    opacity: 1;
    transition: all 1s;
  } */

  &-no-border {
    border: none;
  }
}

.bottom-border {
  width: 90%;
  border-bottom: 1px solid #fff;
  margin: 0 auto 4rem auto;
}

.exhibition-section {
  &__card {
    border-top: 1px solid #fff;
    margin: 0 auto;
    padding: 1rem;
    overflow: hidden;

    @mixin atSmall {
      height: 29rem;
    }

    @mixin atMedium {
      height: 25rem;
      font-size: 1.3rem;
    }

    @mixin atLarge {
      height: 18rem;
    }
  }
}

.events-section {
  background-color: #131b2998;
  position: relative;
  color: #fff;
  padding: 15px;

  @mixin atSmall {
    top: -0.3rem;
  }

  @mixin atMedium {
    /* top: 1rem; */
  }

  @mixin atLarge {
    top: 2rem;
  }

  &__title {
    margin: 3rem auto;
    font-weight: 600;
    letter-spacing: 1rem;
    text-align: center;

    @mixin atSmall {
      font-size: 1.5rem;
    }

    @mixin atMedium {
      font-size: 2.5rem;
      margin-top: 2rem;
    }

    @mixin atLarge {
      font-size: 3rem;
      top: 0;
    }
  }

  &__card,
  .exhibition-section__card {
    border-top: 1px solid #fff;
    margin: 0 auto;
    padding: 1rem;
    overflow: hidden;

    @mixin atSmall {
      height: 22rem;
      width: 80%;
    }

    @mixin atMedium {
      height: 22rem;
    }

    @mixin atLarge {
      height: fit-content;
      width: 90%;
    }
    /* border-bottom: 1px solid #fff; */
  }

  &__card-medium {
    @mixin atSmall {
      height: 24rem;
    }
    @mixin atMedium {
      height: 14rem;
    }

    @mixin atLarge {
      height: fit-content;
    }
    &--archive-events {
      @mixin atSmall {
        height: fit-content;
      }

      @mixin atMedium {
        height: 20rem;
        padding-top: 2rem;
      }

      @mixin atLarge {
        height: fit-content;
      }
    }

    &--archive-exhibition {
      @mixin atSmall {
        height: 28rem;
      }
      @mixin atMedium {
        height: 20rem;
      }

      @mixin atLarge {
        height: fit-content;
      }
    }
  }

  /* &__card--blue {
    background-color: rgba(84, 130, 171, 0.2);
  }

  &__card--violet {
    background-color: rgba(146, 9, 128, 0.466);
  } */

  &__date-and-text {
    position: relative;
    left: -1rem;

    @mixin atMedium {
      left: 1.6rem;
    }

    @mixin atLarge {
      left: -1rem;
    }
  }

  &__single-events-title {
    /* display: block; */
    margin-right: 2rem;
    padding-bottom: 2rem;
    height: fit-content;
    width: 90%;
    text-align: center;
    float: right;
  }

  &__date {
    text-align: center;
    border: 1px solid #fff;
    background-color: $mainGrey;
    border-radius: 50%;
    float: left;
    height: 3rem;
    padding: 15px;
    font-size: 1.3rem;

    @mixin atSmall {
      position: relative;
      top: 1rem;
      left: 39%;
      margin: 0 auto;
      width: 5rem;
      height: 5rem;
      font-size: 1.5rem;
    }

    @mixin atMedium {
      position: absolute;
      margin: 4rem auto;
    }

    @mixin atLarge {
      position: absolute;
      top: 2rem;
      left: -0.5rem;
      margin: 1rem 2rem;
      width: 5rem;
      height: 5rem;
      font-size: 1.3rem;
    }

    &--search {
      @mixin atLarge {
        position: relative;
        margin-top: 0px;
        margin-bottom: 62px;
        margin-left: 0;
      }
    }
    & p {
      width: fit-content;
      text-align: center;
      color: white;
      position: absolute;
      top: -2rem;
      left: -0.1rem;
    }

    &-department {
      color: #fff;

      @mixin atSmall {
        position: relative;
        top: -2rem;
      }

      @mixin atMedium {
        position: relative;
        left: -27vw;
      }

      @mixin atLarge {
        top: 0.5rem;
        left: 1rem;
      }
    }

    &--inside {
      color: #fff;
    }

    &--archive-events {
      @mixin atSmall {
        top: -1rem;
        left: 26vw;
      }

      @mixin atMedium {
        left: -1rem;
        top: -3rem;
      }

      @mixin atLarge {
        left: 2vw;
        top: 0;
      }
    }
  }

  &__section-title {
    position: relative;
    left: 0;
    /* top: 0; */
    text-align: center;
    margin: 1rem auto;
    width: 100%;
    float: left;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 5px;

    @mixin atMedium {
      position: absolute;
      margin: 0 auto;
    }

    @mixin atLarge {
      position: relative;
      left: 0;
      margin-bottom: 2rem;
    }

    &--archive-events {
      left: 5.5rem;

      @mixin atMedium {
        width: fit-content;
        left: 11vw;
        font-size: 2rem;
        position: relative;
        text-align: center;
      }

      @mixin atLarge {
        left: 11vw;
      }
    }

    &--archive-exhibition {
      @mixin atSmall {
        left: 2.5vw;
      }

      @mixin atMedium {
        width: fit-content;
        left: -20vw;
      }

      @mixin atLarge {
        left: -6vw;
      }
    }
  }

  &__section-text {
    position: relative;
    float: right;
    height: 3rem;
    text-align: justify;
    line-height: 1.5rem;

    @mixin atSmall {
      top: 2rem;
      width: 90%;
      font-size: 1.3rem;
    }

    @mixin atMedium {
      position: absolute;
      margin: 11rem auto;
      font-size: 1.3rem;
      width: 98%;
    }

    @mixin atLarge {
      position: relative;
      height: fit-content;
      top: 1px;
      left: 23px;
      margin-top: 0;
      margin-bottom: 2rem;
      font-size: 1.2vw;
      width: 68%;
    }
    &-department {
      text-align: justify;
      /* width: fit-content; */
      /* left: -23rem; */
      /* top: -4.5rem; */

      @mixin atSmall {
        position: relative;
        width: 100%;
        height: fit-content;
        left: 0vw;
        top: -0.5rem;
      }

      @mixin atMedium {
        position: relative;
        width: 50vw;
        height: fit-content;
        left: -3vw;
        top: -5.5rem;
      }

      @mixin atLarge {
        position: relative;
        width: 40vw;
        height: fit-content;
        left: 0;
        top: -2rem;
      }
    }
  }

  &__content-archive-events {
    width: 75%;
    float: right;
    text-align: justify;

    @mixin atSmall {
      margin-top: 0;
      width: 60vw;
      position: relative;
      left: 65px;
    }

    @mixin atMedium {
      margin-top: 7rem;
      left: 2vw;
    }

    @mixin atLarge {
      width: 39vw;
      margin-top: 0;
    }
  }

  &--upcoming-events {
    margin-top: 4rem;
  }
}

.department {
  padding: 0;
}

.generic-content {
  margin: 2rem;
  text-align: justify;
}
