.news-and-blog {
  position: absolute;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.5) 25%,
      rgba(255, 255, 255, 0.3) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(https://images.unsplash.com/photo-1583306346437-f2143c0f11fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80);
  /* width: 96.5vw; */
  height: fit-content;
  padding-bottom: 30px;

  @mixin atSmall {
    top: 96vh;
    width: 100vw;
    padding: 0;
  }
  @mixin atMedium {
    width: 100%;
    left: 0;
  }

  @mixin atLarge {
    top: 50rem;
    width: 96.5vw;
  }
}

.page-section {
  padding: 1rem 0;
  text-align: center;
  position: relative;
  top: -5px;

  @mixin atSmall {
    width: 100vw;
  }

  @mixin atLarge {
    position: relative;
    top: 2rem;
    border: 1px solid #333;
    /* box-shadow: 5px 5px 15px 1px #333; */
  }

  &__card {
    border-top: 1px solid #fff;
    margin: 0 auto;
    padding: 1rem;
    overflow: hidden;

    @mixin atSmall {
      height: 29rem;
      width: 80%;
    }

    @mixin atMedium {
      height: 32rem;
    }

    @mixin atLarge {
      height: 15rem;
      width: 90%;
    }
    /* border-bottom: 1px solid #fff; */
  }

  &__title {
    /* text-align: center; */
    text-transform: uppercase;
    color: #fff;

    @mixin atSmall {
      font-weight: 300;
      font-size: 1rem;
    }

    @mixin atMedium {
      font-size: 2.5rem;
      font-weight: 600;
    }

    @mixin atLarge {
      font-size: 4rem;
      font-weight: 600;
    }
  }

  &__news {
    background-color: #31394593;

    @mixin atSmall {
      width: 5rem;
      margin: 0;
    }

    @mixin atLarge {
      width: 5rem;
      margin: 5.2rem;
      margin-top: 4rem;
    }
  }

  &__news-title {
    text-align: center;
    float: left;
    position: relative;
    left: 0;
    top: 0;
    margin: 0 auto 1rem auto;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;
    /* opacity: 0; */
    @mixin atSmall {
      font-size: 1.2rem;
    }

    @mixin atMedium {
      font-size: 2rem;
      margin-top: 1.5rem;
    }
    @mixin atLarge {
      font-size: 2rem;
      margin-top: 0;
    }
  }

  &__section-text {
    color: #fff;
    position: relative;
    float: left;
    height: 3rem;
    text-align: justify;
    line-height: 1.5rem;

    @mixin atSmall {
      top: 17rem;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    @mixin atMedium {
      margin-top: 2.5rem;
      top: 20rem;
    }

    @mixin atLarge {
      top: -1rem;
      margin-top: 2rem;
      margin-left: 2rem;
      width: 68%;
    }
  }

  &__expo-picture {
    position: relative;
    top: 0;

    @mixin atSmall {
      left: 0rem;
      margin-top: 15px;
      height: 15rem;
      top: -6rem;
      /* width: 10rem; */
    }

    @mixin atMedium {
      top: -6rem;
      height: 20rem;
      border: none;
    }

    @mixin atLarge {
      top: 0;
      margin-top: 0;
      left: 0;
      height: 10rem;
    }
  }

  &__expo-picture img {
    @mixin atSmall {
      width: 20rem;
      height: 15rem;
      border: 1px solid #fff;
      /* position: relative; */
      /* top: 10rem; */
      /* left: -20rem; */
    }
    @mixin atMedium {
      /* border: 1px solid #fff; */
      height: 18rem;
    }

    @mixin atLarge {
      height: 10rem;
    }
  }
  /*  KADA NAPRAVIM JS ONDA NAPRAVITI DA KAD SEGMENT UDJE U EKRAN POJAVI SE I DODJE NA SVOJE MESTO. OVO JE TRANSITION DA SE POJAVI
  &__news-title:hover {
    opacity: 1;
    transition: all 1s;
  }
  &__news-text:hover {
    opacity: 1;
    transition: all 1s;
  } */

  &__expo-picture--cite {
    color: #fff;
    font-size: 0.7rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    /* position: relative;
    left: -29rem; */

    @mixin atSmall {
      /* top: 4rem; */
      /* left: -32rem; */
    }

    @mixin atLarge {
      width: 120%;
      position: relative;
      left: -20px;
    }
  }
  &__expo-picture--cite a:visited {
    color: #fff;
  }

  &-no-border {
    border: none;
  }
}

.bottom-border {
  width: 90%;
  border-bottom: 1px solid #fff;
  margin: 0 auto 4rem auto;
}

.events-section {
  background-color: #131b2998;
  position: relative;
  color: #fff;
  padding: 15px;

  @mixin atSmall {
    top: -0.3rem;
  }

  @mixin atMedium {
    /* top: 1rem; */
  }

  @mixin atLarge {
    top: 2rem;
  }

  &__title {
    margin: 3rem auto;
    font-weight: 600;
    letter-spacing: 1rem;
    text-align: center;

    @mixin atSmall {
      font-size: 1.5rem;
    }

    @mixin atMedium {
      font-size: 2.5rem;
      margin-top: 2rem;
    }

    @mixin atLarge {
      font-size: 3rem;
      top: 0;
    }
  }

  &__card {
    border-top: 1px solid #fff;
    margin: 0 auto;
    padding: 1rem;
    overflow: hidden;

    @mixin atSmall {
      height: fit-content;
      width: 80%;
    }

    @mixin atMedium {
      height: fit-content;
    }

    @mixin atLarge {
      height: fit-content;
      width: 90%;
    }
    /* border-bottom: 1px solid #fff; */
  }

  &__card-medium {
    @mixin atMedium {
      height: fit-content;
      padding-top: 2rem;
    }

    @mixin atLarge {
      height: fit-content;
    }
  }

  /* &__card--blue {
    background-color: rgba(84, 130, 171, 0.2);
  }

  &__card--violet {
    background-color: rgba(146, 9, 128, 0.466);
  } */

  &__date-and-text {
    position: relative;
    left: -1rem;

    @mixin atMedium {
      left: 1.6rem;
    }

    @mixin atLarge {
      left: -1rem;
    }
  }

  &__single-events-title {
    /* display: block; */
    margin-right: 2rem;
    padding-bottom: 2rem;
    height: fit-content;
    width: 90%;
    text-align: center;
    float: right;
  }

  &__date {
    text-align: center;
    border: 1px solid #fff;
    background-color: $mainGrey;
    border-radius: 50%;
    float: left;
    height: 3rem;
    padding: 15px;
    font-size: 1.3rem;

    @mixin atSmall {
      position: relative;
      top: 1rem;
      left: 39%;
      margin: 0 auto;
      width: 4rem;
      height: 4rem;
      font-size: 2rem;
    }

    @mixin atMedium {
      position: absolute;
      margin: 4rem auto;
    }

    @mixin atLarge {
      position: absolute;
      top: 2.5rem;
      left: 2rem;
      margin: 1rem 2rem;
      width: 3rem;
      height: 3rem;
      font-size: 1.3rem;
    }
    & p {
      width: fit-content;
      text-align: center;
      color: white;
      position: absolute;
      top: -2rem;
      left: -0.1rem;
    }

    &-department {
      top: 0.5rem;
      left: 4rem;
    }

    &--inside {
      color: #fff;
    }
  }

  &__section-title {
    position: relative;
    left: 0;
    /* top: 0; */
    text-align: center;
    margin: 1rem auto;
    width: 100%;
    float: left;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 5px;

    @mixin atMedium {
      position: absolute;
      margin: 0 auto;
    }

    @mixin atLarge {
      position: relative;
      left: 7rem;
      margin-bottom: 2rem;
    }
  }

  &__section-text {
    position: relative;
    float: right;
    height: 3rem;
    text-align: justify;
    line-height: 1.5rem;

    @mixin atSmall {
      top: 2rem;
      width: 90%;
    }

    @mixin atMedium {
      position: absolute;
      margin: 13rem auto;
    }

    @mixin atLarge {
      position: relative;
      height: fit-content;
      top: 1px;
      margin-top: 0;
      margin-bottom: 2rem;
      /* top: -100px; */
      width: 68%;
    }
    &-department {
      text-align: center;
      width: fit-content;
      left: -11rem;
      top: -2rem;
    }
  }

  &__content-archive-events {
    width: 75%;
    float: right;
  }
}

.department {
  padding: 0;
}

.generic-content {
  margin: 2rem;
  text-align: justify;
}
